pygemma==0.1.3
transformers
sounddevice
scipy
sentencepiece
protobuf
Accelerate # for bark
flash-attn # for bark
google-cloud-speech #cloud api
google-cloud-testtospeech
speechbrain # for fastspeech/wav2vec
ffmpeg
